#accept-button {
    background-color: #6b8e23;
    border-color: #6b8e23;
    border-radius: 100px;
    width: 150px;
    margin: 10px 10px 0 0;
}

#accept-button:hover {
    background-color: #73a510;
    border-color: #73a510;
}