.backLink {
    text-decoration: none;
}

.all-button {
    background-color: #8c1515;
    border-color: #8c1515;
    border-radius: 100px;
    color: white;
    margin: 10px 10px 0 0;
}

.all-button:hover {
    background-color: #b41b1b;
    border-color: #b41b1b;
    color: white;
}