.ProjectCard {
    margin: 5px;
}

.ProjectCard img {
    height: 250px;
    object-fit: cover;
}

.cardName {
    text-decoration: none;
    color: black;
}

.deleteLink {
    color: red;
}

.editLink {
    color: blue;
}